* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

p {
    font-weight: 300;
    color: #1111;
}

header {
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    background: black;
}

.logo {
    color: turquoise;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}

.logo span {
    color: rgb(255, 255, 255);
}

.navibar {
    display: flex;
    position: relative;
}

.navibar li {
    list-style: none;
}

.navibar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px;
    font-weight: 720;
}

.btn-connexion {
    margin: -20px;
    margin-left: 10px;
}

header .navibar li a:hover {
    color: aqua;
}

.btn-connexion:hover {
    color: aqua;
}

body {
    background-image: url(./wp2639541.jpg);
    background-size: cover;
}

@import 'https://fonts.googleapis.com/css?family=Libre+Franklin:400,700';
.map {
    width: 25%;
    width: 900px;
    height: 650px;
    margin: 5% auto;
    box-shadow: 0px 0px 10px #C8C7D9;
    position: relative;
}